* {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav{
    height: 50px;
    width: 100%;
    background-color: red;
    position: relative;
    margin: 0;
}
.nav >.nav-center{
    display: inline;
}
.nav ul li {
    width: 50%;
    float: left;
    position:relative;
}

